<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.susu.dao.OrderDao">

    <resultMap id="BaseResultMap" type="com.susu.entity.Order">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <id column="name" property="name" jdbcType="VARCHAR"/>
        <id column="status" property="status" jdbcType="INTEGER"/>
    </resultMap>

    <insert id="insert" parameterType="com.susu.entity.Order" useGeneratedKeys="true" keyProperty="id">
        insert into `order` (
                name,
                status
        ) values (
                #{name},
                #{status}
         )
    </insert>

    <update id="update">
        update `order` set status = 1
        where name = #{name} and status = #{status}
    </update>

    <delete id="remove">
        delete from `order` WHERE id = #{id}
    </delete>

    <select id="info" resultType="com.susu.entity.Order">
        select * from `order` where id = #{id}
    </select>
</mapper>
